html, body, div, span, h1, h2, h3, a, em, strong,
img, ol, ul, li, fieldset, form, label, legend, p, ins {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

body {
	font-size: 100%;
	font: 15px/1.5em Arial, sans-serif;
	color: #000;
	background: #fff;
}

html, body {
	height: 100%;
}

a {
	color: #000;
}

strong {
	font-weight: bold;
}

.spacer {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}